Repository pmem/pmemfile: changes, and which Codecov flags are due for each by the changed paths.
All: posix, preload, antool, other

codecov.yml:

coverage:
  status:
    project:
      default: off
      posix:
        flags:
          - tests_posix_single_threaded
          - tests_posix_multi_threaded
          - tests_preload
          - sqlite_tests
      preload:
        flags:
          - tests_preload
          - sqlite_tests
      antool:
        flags:
          - tests_antool
      other:
        flags:
          - tests_posix_single_threaded
          - tests_posix_multi_threaded
          - tests_preload
          - sqlite_tests
  ignore:
    - utils/
    - tests/
    - src/valgrind/

flags:
  posix:
    paths:
      - src/libpmemfile-posix/
  preload:
    paths:
      - src/libpmemfile/
  antool:
    paths:
      - src/tools/antool/
  other:
    paths:
      - src/tools/mkfs.pmemfile.c
      - src/tools/pmemfile-cat.c
      - src/tools/pmemfile-mount.c

Z
  codecov.yml
Due: none

Z2
  utils/docker/run-coverage.sh
Due: none

WIP codecov changes
  codecov.yml
  utils/docker/run-coverage.sh
  utils/docker/sqlite/run-build-sqlite.sh
Due: none

antool: simplify get_str_arg()
  src/tools/antool/syscall.py
Due: antool

antool: fix case when ANTOOL_TESTS is empty
  tests/antool/CMakeLists.txt
Due: none

antool: change two names
  src/tools/antool/antool.py
  src/tools/antool/listsyscalls.py
  src/tools/antool/syscall.py
Due: antool

antool: remove unnecessary __str__ method
  src/tools/antool/exceptions.py
Due: antool

antool: fix error handling in antool.py
  src/tools/antool/antool.py
Due: antool

antool: exclude some lines from code coverage
  src/tools/antool/antool.py
  src/tools/antool/syscalltable.py
  src/tools/antool/utils.py
  tests/antool/.coveragerc
Due: antool

antool: fix printing converted log in analyze mode
  src/tools/antool/antool.py
Due: antool

antool: fix reading number of read bytes
  src/tools/antool/antool.py
Due: antool

antool: check also stderr output
  tests/antool/output-err-1148-10.log.match
  tests/antool/output-err-1148-11.log.match
  tests/antool/output-err-1148-8.log.match
  tests/antool/output-err-1148-9.log.match
  tests/antool/output-err-126-0.log.match
  tests/antool/output-err-126-1.log.match
  tests/antool/output-err-126-2.log.match
  tests/antool/output-err-126-3.log.match
  tests/antool/output-err-126-4.log.match
  tests/antool/output-err-126-5.log.match
  tests/antool/output-err-126-6.log.match
  tests/antool/output-err-126-7.log.match
  tests/antool/output-err-126-8.log.match
  tests/antool/output-err-1531-10.log.match
  tests/antool/output-err-1531-11.log.match
  tests/antool/output-err-1531-12.log.match
  tests/antool/output-err-1531-13.log.match
  tests/antool/output-err-1531-14.log.match
  tests/antool/output-err-1531-8.log.match
  tests/antool/output-err-1531-9.log.match
  tests/antool/output-err-382-0.log.match
  tests/antool/output-err-382-1.log.match
  tests/antool/output-err-382-2.log.match
  tests/antool/output-err-382-3.log.match
  tests/antool/output-err-382-4.log.match
  tests/antool/output-err-382-5.log.match
  tests/antool/output-err-382-6.log.match
  tests/antool/output-err-382-7.log.match
  tests/antool/output-err-382-8.log.match
  tests/antool/output-err-382-9.log.match
  tests/antool/output-err-765-10.log.match
  tests/antool/output-err-765-8.log.match
  tests/antool/output-err-765-9.log.match
  tests/antool/test-parser.sh
Due: none

antool: fix error message
  src/tools/antool/antool.py
Due: antool

antool: fix counting packets
  src/tools/antool/antool.py
Due: antool

Codecov.io integration improvements.
  codecov.yml
  utils/docker/run-coverage.sh
  utils/docker/sqlite/run-build-sqlite.sh
Due: none

preload: fix crash when application doesn't flush its streams
  src/libpmemfile/preload.c
Due: preload

preload: give up access to the pool after mount
  src/libpmemfile/preload.c
Due: preload

docker: pjdfstest integration
  .travis.yml
  utils/docker/build.sh
  utils/docker/images/0001-disable-special-files-tests.patch
  utils/docker/images/Dockerfile.fedora-23
  utils/docker/images/Dockerfile.fedora-24
  utils/docker/images/Dockerfile.fedora-25
  utils/docker/images/Dockerfile.ubuntu-16.04
  utils/docker/images/Dockerfile.ubuntu-16.10
  utils/docker/images/Dockerfile.ubuntu-17.04
  utils/docker/images/install-pjdfstest.sh
  utils/docker/pjdfstest/build-and-test.sh
  utils/docker/pjdfstest/pmemfile-summary.log.match
  utils/docker/pjdfstest/test.sh
Due: none

preload: keep the pool open for path resolving
  src/libpmemfile/path_resolve.c
Due: preload

antool: remove unused code
  src/tools/antool/listsyscalls.py
Due: antool

antool: add printing corrupted packets
  src/tools/antool/syscall.py
Due: antool

antool: remove sorting of packets before printing them
  src/tools/antool/antool.py
Due: antool

antool: remove unused print functions
  src/tools/antool/listsyscalls.py
  src/tools/antool/syscall.py
Due: antool

antool: remove STATE_UNKNOWN_EVENT
  src/tools/antool/syscall.py
Due: antool

antool: fix handling SyS_close
  src/tools/antool/listsyscalls.py
Due: antool

antool: change names of antool tests
  tests/antool/CMakeLists.txt
Due: none

tests: test process switching using preload tests
  tests/preload/CMakeLists.txt
Due: none

preload: fix truncate for paths outside of pmemfile pool
  src/libpmemfile/preload.c
Due: preload

libpmemfile-pop - a library which translates libpmemfile-posix functions to syscalls
  CMakeLists.txt
  README.md
  tests/libpmemfile-pop/CMakeLists.txt
  tests/libpmemfile-pop/pmemfilepool.c
  tests/libpmemfile-pop/utils.c
  tests/libpmemfile-pop/utils.h
  tests/posix/CMakeLists.txt
  tests/posix/crash/crash.cpp
  tests/posix/getdents/getdents.cpp
  tests/posix/pmemfile_test.cpp
  tests/posix/pmemfile_test.hpp
  tests/posix/rw/rw.cpp
  tests/posix/stat/stat.cpp
Due: none

tests: handle low timestamp resolution when tested with libpmemfile-pop
  tests/posix/timestamps/timestamps.cpp
Due: none

posix: use allocation classes
  CMakeLists.txt
  src/libpmemfile-posix/CMakeLists.txt
  src/libpmemfile-posix/block_array.c
  src/libpmemfile-posix/blocks.c
  src/libpmemfile-posix/blocks.h
  src/libpmemfile-posix/data.c
  src/libpmemfile-posix/data.h
  src/libpmemfile-posix/dir.c
  src/libpmemfile-posix/dir.h
  src/libpmemfile-posix/fallocate.c
  src/libpmemfile-posix/inode.c
  src/libpmemfile-posix/inode_array.c
  src/libpmemfile-posix/layout.h
  src/libpmemfile-posix/pmemfile-posix.c
  src/libpmemfile-posix/pool.c
  src/libpmemfile-posix/stat.c
  src/libpmemfile-posix/stats.c
  src/libpmemfile-posix/utils.c
  src/libpmemfile-posix/utils.h
  tests/posix/CMakeLists.txt
  tests/posix/rw/rw.cpp
  tests/preload/basic/basic.cmake
  tests/preload/basic_commands/basic_commands.cmake
  tests/preload/config/config.cmake
  tests/preload/nested_dirs/nested_dirs.cmake
  tests/preload/pool_locking/pool_locking.cmake
  tests/preload/sqlite/sqlite.cmake
  tests/preload/unix/unix.cmake
  tests/preload/xattr/xattr.cmake
Due: posix

utils: install man and gdb on fedora
  utils/docker/images/Dockerfile.fedora-23
  utils/docker/images/Dockerfile.fedora-24
  utils/docker/images/Dockerfile.fedora-25
Due: none

patch nvml (to delete after nvml is fixed)
  utils/docker/images/install-nvml.sh
Due: none
